.grid {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
    width: min(800px, 100% - 4rem);
    margin-inline: auto;
}

.grid, .game-over {
    animation: fade-in 0.5s ease-in-out alternate forwards;

    &.fading {
        animation: fade-out 0.5s ease-in-out alternate forwards;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fade-out {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}

main {
    padding-top: 1rem;
    overflow-y: hidden;
    background-image: linear-gradient(15deg, rgba($color: #FFF, $alpha: 0.4), rgba($color: #FFF, $alpha: 0.4)), url("https://fondosmil.com/fondo/12145.jpg");

    .wrapper {
        margin-top: 0.5rem;
        max-height: calc(100% - 4rem);
        overflow-y: auto;
    }
}

.game-over {
    margin: 2rem auto 0;
    padding: 1rem;
    text-align: center;
    background: white;
    width: min(600px, calc(100% - 4rem));
    border: 1px solid #3B4CCA;
    border-radius: 10px;

    &__heading {
        margin-bottom: 1rem;
    }

    &__content {
        margin: 0 auto;
        width: fit-content;
        display: grid;
    }

    &__text {
        margin: 0.5rem 0;
    }

    &__reset {
        margin: 2rem auto;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: 1px solid #3B4CCA;
        font-weight: bold;
        background-color: #3B4CCA;
        color: white;
        font-size: 1.25rem;
        color: w;
    }

    &__gif {
        margin-top: 2rem;
        border-radius: 5px;
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}