.header {
    background-color: steelblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.25em 0;
    border-bottom: 1px solid black;

    &__title {
        grid-column: 2 / 3;
        text-align: center;
    }

    &__btn-container {
        display: grid;
        place-content: center;
    }

    &__btn {
        background-color: transparent;
        border: none;

        &:hover {
            color: navy;
        }

        &:hover + .header__underline {
            transform: scaleX(1);
        }
    }

    &__underline {
        border-top: 1px solid navy;
        transform: scaleX(0);
        transform-origin: 0;
        transition: transform 0.5s ease-in-out;
    }
}