.header {
    background-color: steelblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.25em 0;
    border-bottom: 1px solid black;

    &__title {
        grid-column: 2 / 3;
        text-align: center;
    }

    &__instructions-container {
        display: grid;
        place-content: center;
    }

    &__instructions {
        background-color: transparent;
        border: none;
        text-decoration: underline;

        &:hover {
            color: navy;
        }
    }
}