.backdrop {
    background-color: rgba($color: grey, $alpha: 0.6);
    position: absolute;
    inset: 0;

    &.hidden {
        display: none;
    }
}

.instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 1rem 2rem;
    border: 2px solid black;
    border-radius: 20px;
    width: clamp(50ch, 100% - 4rem, 70ch);
    transform: translate(-50%, -70%);
    transition-property: transform opacity;
    transition: 0.4s ease-out;

    &.hidden {
        transform: translate(-50%, -250%);
        opacity: 0%;
    }

    &__heading {
        text-align: center;
    }

    &__text {
        margin: 1rem 0;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: none;
        padding: 1rem;
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .instructions {
        width: calc(100% - 2rem);
        transform: translate(-50%, -55%);

        &.hidden {
            transform: translate(-50%, -200%);
        }
    }
}