.instructions {
    position: absolute;
    inset: 5rem 1rem;
    background-color: white;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;

    &__heading {
        text-align: center;
    }

    &__text {
        margin: 1rem 0;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: none;
        padding: 1rem;
        font-size: 2rem;
    }
}